body {
    padding-bottom: 120px;
}


.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px; 
	text-align: center;
    background-color: #563d7c;
}



.footer > .container-fluid > a{
	color: white;
}

mark {
	background-color: yellow;
	color: black;
}


ul {
	list-style-type: none;
	
}

#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
  }

#topheader{
	background-color: rgb(69, 36, 120);
}


#searchform{
	border:1px solid lightgrey;
}

#hometitle{
	background-color: lightgray;
}

.midcol{
  background-color: #ddd;
}

.carousel-caption{
    transform: translate(-50%);
    bottom:initial;
    top:25%;
}

#caro-size{
	 width:100%;
	 height: 900px !important;
}

.carousel-indicators li{
  width: 10px;
  height: 10px; 
  border-radius: 100%; 
}

/* rating stars: 
used the code from: https://codepen.io/hesguru/pen/BaybqXv
*/
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

div.inflow {
  width: 200px; 
  height: 100px; 
  border: 1px solid blue; 
  float: right; 
  position: relative; 
  margin-right: 100px;
}

div.positioner {
    position: absolute; right: 0;
    } /*may not be needed: see below*/

div.fixed {
  width: 80px; 
  border: 1px solid red; 
  height: 100px; 
  position: fixed; 
  top: 60px; 
  margin-left: 15px;
}

.fixright {
    width: 250px !important;
    float: right !important;
    position: relative;
    right: 0px;
    z-index: -1;
 
}

.fixleft {
    width: 250px !important;
    float: left !important;
}

#msg-text{
    font-family: 'Grenze Gotisch', cursive !important;
 }

   .carousel-caption{
    
    top:25%;
}

#caro-size{
   width:100%;
   height: 900px !important;
}


.carousel-indicators li{
  width: 10px;
  height: 10px; 
  border-radius: 100%; 
}

.d-block {  filter: brightness(30%); }

#caro-text{
  font-family: 'Zilla Slab Highlight', cursive;
}

#para-text {
  color: white;
}

/*Copyright (c) 2021 by Codegem (https://codepen.io/codegem-io/pen/VwPgJYx)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
* {
  box-sizing: border-box; 
  font-family: sans-serif;
}

body {
  margin: 0px;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;

}

.section { 
  position: relative;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  z-index: -1;
}

.image1::after { 
  filter: brightness(30%);
  background-image: url('https://webdev-stark.cs.kent.edu/~wwaller/WP2FinalProject/images/large/8152016381.jpg');
}

.image2::after {
  filter: brightness(30%);
  background-image: url('https://webdev-stark.cs.kent.edu/~wwaller/WP2FinalProject/images/large/5855174537.jpg');
}

.static {
  background: #f9f9f9;
}

.fixbottom{
    position:fixed;
    bottom:20px;
    left: 30%;
    height: 100px;
    
}